In [50]:
import arcpy
import arcgis

In [51]:
# panggil library
import pandas as pd
# tentukan lokasi data riskesdas
dataset = 'riskesdas.csv'
# panggil dataset sebagai dataframe
sdf = pd.read_csv(dataset)
# lihat 10 data pertama
sdf.head()

,Provinsi,percent_mudah,mudah_minsd,mudah_plussd,percent_sulit,sulit_minsd,sulit_plussd,percent_sangat_sulit,ssulit_minussd,ssulit_plussd
0,Aceh,29.8,27.9,31.7,41.8,39.6,44.1,28.4,26.3,30.5
1,Sumatera Utara,38.8,37.1,40.4,36.7,35.0,38.5,24.5,23.0,26.1
2,Sumatera Barat,35.1,32.9,37.4,38.1,35.8,40.4,26.8,24.7,29.0
3,Riau,36.6,34.3,38.9,28.0,25.6,30.5,35.4,32.9,38.0
4,Jambi,25.3,22.9,27.9,32.7,29.8,35.8,41.9,39.1,44.8

In [52]:
from arcgis.features import GeoAccessor
# Akses data batas kelurahan
location = 'C:\\Users\\Lucas Elbert Suryana\\Documents\\Kerja\\Geolytics\\Pelatihan\\prov\\prov.shp'
data = GeoAccessor.from_featureclass(location)

In [53]:
data.head()

,FID,NAME_1,KODE,SHAPE
0,0,Bangka Belitung,19,"{""rings"": [[[107.96173096, -3.41100407], [107...."
1,1,Gorontalo,75,"{""rings"": [[[122.81573486, 0.84675884], [122.8..."
2,2,Riau,14,"{""rings"": [[[101.64431763, -0.82552189], [101...."
3,3,Jakarta Raya,31,"{""rings"": [[[106.73563385, -6.04013634], [106...."
4,4,Kepulauan Riau,21,"{""rings"": [[[105.25354767, -1.29511285], [105...."

In [54]:
join_data = pd.merge(sdf, data, left_on='Provinsi', right_on='NAME_1', how='inner')
join_data.head()

,Provinsi,percent_mudah,mudah_minsd,mudah_plussd,percent_sulit,sulit_minsd,sulit_plussd,percent_sangat_sulit,ssulit_minussd,ssulit_plussd,FID,NAME_1,KODE,SHAPE
0,Aceh,29.8,27.9,31.7,41.8,39.6,44.1,28.4,26.3,30.5,8,Aceh,11,"{'rings': [[[96.66509247, 2.12017846], [96.667..."
1,Sumatera Utara,38.8,37.1,40.4,36.7,35.0,38.5,24.5,23.0,26.1,13,Sumatera Utara,12,"{'rings': [[[98.51676941, -0.45695999], [98.51..."
2,Sumatera Barat,35.1,32.9,37.4,38.1,35.8,40.4,26.8,24.7,29.0,28,Sumatera Barat,13,"{'rings': [[[100.56964111, -3.27509046], [100...."
3,Riau,36.6,34.3,38.9,28.0,25.6,30.5,35.4,32.9,38.0,2,Riau,14,"{'rings': [[[101.64431763, -0.82552189], [101...."
4,Jambi,25.3,22.9,27.9,32.7,29.8,35.8,41.9,39.1,44.8,14,Jambi,15,"{'rings': [[[104.40900421, -0.8595084], [104.4..."

In [55]:
join_data.dtypes

Provinsi                 object
percent_mudah           float64
mudah_minsd             float64
mudah_plussd            float64
percent_sulit           float64
sulit_minsd             float64
sulit_plussd            float64
percent_sangat_sulit    float64
ssulit_minussd          float64
ssulit_plussd           float64
FID                       int64
NAME_1                   object
KODE                      int64
SHAPE                    object
dtype: object

In [56]:
location = 'C:\\Users\\Lucas Elbert Suryana\\Documents\\Kerja\\Geolytics\\github\\save\\join_prov.shp'
join_data.spatial.to_featureclass(location)

'C:\\Users\\Lucas Elbert Suryana\\Documents\\Kerja\\Geolytics\\github\\save\\join_prov.shp'